.our_contacts{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

}
.our_contacts a{
color: #0C0C0E;
}
.our_contacts a:hover{
  color: #BB945F;
}
.contacts_wrapper{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1300px){
    flex-direction: column;
    align-items: center;
  }}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: start;line-height: 21px;
}
.contacts b{
  font-size: 20px;
}
.map{
  max-width: 100%;
}