.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
  margin-left: -4px;
  transition: 1s;
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-start;
  gap: 5px;
  @media screen and (max-width: 1440px) {
    gap: 453px;
  }
}

.images1 {
  transform: translateX(485px);
  @media screen and (max-width: 1440px) {
    transform: translateX(1856px);
  }
}

.images2 {

  transform: translateX(11px);
  @media screen and (max-width: 1440px) {
    transform: translateX(935px);
  }
}

.images3 {
  transform: translateX(-466px);
  @media screen and (max-width: 1440px) {
    transform: translateX(11px);
  }
}
.images4{

  @media screen and (max-width: 1440px) {
    transform: translateX(-909px);
  }
}
.images5{

  @media screen and (max-width: 1440px) {
    transform: translateX(-1833px);
  }
}


.images img {
  margin-right: 18px;
  width: 450px;

}


.images div:nth-child(1) img, .images div:nth-child(7) img {
  align-self: center;
  min-width: 24px;
  height: 24px;
  max-width: 24px;
  @media screen and (min-width: 768px) {
    display: none
  }
}

.images div:nth-child(7) img {
  transform: rotate(180deg);
}

.some_text {
  margin-bottom: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

.carousel_pagination {
  display: flex;
  margin: 0 auto 40px;
  cursor: pointer;
}

.carousel_button {
  margin-right: 5px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  border-radius: 100px;
}

.carousel_button:nth-child(4), .carousel_button:nth-child(5) {
  display: none;
  @media screen and (max-width: 1440px) {
    display: block;
  }
}

.carousel_button_active {
  background: #BB945F;
  margin-right: 5px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 100px;
}